boto3
click
gradio
grandalf
ipykernel
ipywidgets
lancedb
langchain
langchain-aws
langchain-chroma
langchain-experimental
langchain-mistralai
langchain-openai
langchain-text-splitters
langgraph
langserve
langsmith
mistral
matplotlib
numpy
openai
open_clip_torch
pandas
pillow
sse-starlette
torch==2.4.1
torchvision
torchaudio
tqdm
unstructured[all-docs]